.login_button {
  text-transform: uppercase;
  color: #4f4f4f;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  margin: auto 0px auto auto;
  height: 54px;
  width: 172px;
  display: inherit;
  justify-content: center;
}

.login_form {
  justify-content: left;
  display: flex;
  position: absolute;
  background-color: white;
  right: 0px;
  padding: 20px 10px 20px 10px;
  border-radius: 0px 0px 0px 5px;
  top: 53px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px 1px 1px 1px;

}

.login_form input {
  width: auto;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #4f4f4f;
  height: 30px;
  background-color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

}
.login_form label {
  color: #4f4f4f;
  text-decoration: none;
  font-size: 16px;
}


@media only screen and (max-width: 970px) {
  .login_button {
    height: 100%;
    border-width: 0px 1px 1px 0px;
    display: inline-flex;
    margin: 0px;
    width: 20%
  }
  .login_form {
    display: flex;
    border-radius: 0px;
    position: absolute;
    justify-content: center;
    width: auto;
    top: 46px;
  }
}

@media only screen and (max-width: 770px) {
  .login_form label, .login_form input {
    margin: 0 auto;
    display: table;
  }
  .login_form {
    top: 21%;
    width: auto;
    border-radius: 5px;
    right: auto;
    left: auto;
    box-shadow: 0px 0px 10px 1px #666666;
  }
}
