.login_button {

    background-color:white;
    text-transform: uppercase;
    color: #767676;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    margin: auto 0px auto auto;
}

.login_form {
    position: absolute;
    background-color:white;
    right:0px;
    top:64px;
}