.basebutton {
    justify-content: center;
    border: 1px solid #ccc;
    color: #767676;
    border-radius: 5px;
    background-color: #fff;
    font-size: 18px;
    height: 34px;
    margin: 0px 8px 0px 8px;
    max-width: 200px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

@media only screen and (max-width: 770px) {
  .basebutton {
    width: 100%;
    margin: 15px 0px 10px 0px;
  }
}
