.tabs {

}

.tabs_switcher {
    display:flex;
    flex-direction: row;
}

.tabs_tab {
    text-transform: uppercase;
    font-weight: lighter;
    padding:16px 32px;
    background:white;
    border:0;
    border-bottom: 4px solid #dfdfdf;
}

.tabs_tab:hover {
    background:lightgrey;
    cursor: pointer;
    border-bottom: 4px solid #bfbfbf;
}

.tabs_tab__activated {
    composes: tabs_tab;
    background: white;
    border-bottom: 4px solid #7f7f7f;
}