.documentbrowser input {
    display:block;
    padding: 0px 2px 0px 2px;
    height: 30px;
    border-radius: 5px;
    width: 200px;
    border: 1px solid lightgrey;
    margin: 16px 0px 10px 0px;
    padding: 0px 5px 0px 5px;
}

.documentbrowser__tags {
    display:flex;
    flex-direction:row;
    margin: 16px 0px;
    border-radius: 5px;
}

@media only screen and (max-width: 700px) {
    .documentbrowser__tags {
     flex-direction: column;
  }
    .documentbrowser input {
      width: 50%;
  }
}
@media only screen and (max-width: 970px) {
  .documentbrowser {
    margin: 15px 0px;
  }
}
