a:hover {
  color: #0074ff;
}

.general_row {
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    padding:0px 15px 20px;
}

.general_column {
    display:flex;
    flex-direction: column;
    flex-grow:1;
    padding:0px 15px 20px;
}

.general_column_30 {
    composes: general_column;
    flex-grow:0;
    width: 30%;
}

.general_column_60 {
    composes: general_column;
    flex-grow:0;
    width: 60%;
}

.general_column .general_row {
    margin:7px;
    background-color:white;
    box-shadow: 0px 0px 10px 1px #666666;
    border-radius: 5px;
}

.general_row .general_column {
    margin:7px;
    background-color:white;
    box-shadow: 0px 0px 10px 1px #666666;
    border-radius: 5px;
}

.general_row .general_column_30 {
    background-color:white;
    margin:7px;
    box-shadow: 0px 0px 10px 1px #666666;
    border-radius: 5px;
}

.general_row .general_column_60 {
    background-color:white;
    margin:7px;
    box-shadow: 0px 0px 10px 1px #666666;
    border-radius: 5px;
}

@media only screen and (max-width: 970px) {
   .general_row {
     flex-direction: column;
     padding:0px;
  }
  .general_column_30 {
      composes: general_column;
      flex-grow:0;
      width: auto;
  }
}
