.navbutton {
    background-color:white;
    height: 100%;
    border-style: solid;
    border-color: #cccccc;
    width: 150px;
    margin-left: -1px;
    border-width: 0px 1px 0px 1px;
    display: flex;
}

.navbutton a {
    text-align: center;
    color: #767676;
    padding:15px;
    width: 130px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.navbutton:hover {
    background-color:lightgrey;
}

@media only screen and (max-width: 970px) {
  .navbutton {
    display: inline-flex;
    border-width: 0px 1px 1px 1px;
    width: 20%;
  }
  .navbutton a {
    width: 100%;
  }
}

@media only screen and (max-width: 770px) {
  .navbutton {
      display: inline-flex;
      border-width: 0px 1px 1px 1px;
    }
}
