.App {
  text-align: center;
  display: flex;
  flex-direction:column;
  align-items:stretch;
  min-height:100%;
  background-color:#343434;
  background-image: url(./images/frontpage.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.App-header {
  background-color: #586c84;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main a {
  color: #61dafb;
}

.App-main {
  flex-grow:1;
  background-color:lightgrey;
  margin: 150px 125px 25px;
}

.App-footer {
  background-color:#61dafb;
  flex-shrink:0;
}
