.App {
  display: flex;
  flex-direction:column;
  align-items:stretch;
  min-height: 100%;
  background-color: white;
  background-image: url(./images/frontpage2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.App-header {
  background-color: #586c84;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main a {
  text-decoration: none;
}

.App-main {
  flex-grow:1;
  margin: 150px 125px 25px;
  max-width:1400px;
  width:100%;
  align-self:center;
  flex-direction: column;
  display:flex;
  justify-content: center;
}

.App-main h1 {
  font-size:28px;
  font-weight:400;
  text-transform: uppercase;
  width:100%;
  border-bottom: 1px solid lightgrey;
  padding: 15px 0px;
}

.App-main h2 {
  font-size:24px;
  font-weight:400;
  text-transform: uppercase;
  width:100%;


  padding: 15px 0px;
}

.App-main h3 {
  font-weight:300;
  font-size:18px;
  text-transform: uppercase;
  width:100%;


  padding: 15px 0px;
}

.App-main p, span {
  font-weight: lighter;
  line-height:2em;

}

.App-footer {
  background-color:#61dafb;
  flex-shrink:0;
}
