.documentcard {
  border: 1px solid #cdcdcd;
  margin-bottom: -1px;
  border-radius: 5px;
  background-color: white;
  border-bottom: 1px solid #cdcdcd;
}

.documentcard label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: #efefef;
    border-radius: 4px;
    padding: 7px 15px;
}

.documentcard:hover {
    background-color: #d6e1f2;
}

.documentcard label span {
    flex-grow: 1;
}

.documentcard label button {
    background-color: #cccccc;
    border: 1px solid #cccccc;
    padding: 7px;
    width:32px;
    height:32px;
    margin:0px 7px;
    border-radius: 5px;
    color: #4f4f4f;
}

.documentcard__content {
    padding: 7px 15px;
    color: #4f4f4f;
    justify-content: space-between;
    display: flex;
}

.documentcard:last-child {
  border-bottom: 1px solid #cdcdcd;
}
