.navbar {
    width:100%;
    background-color: white;
    justify-content: center;
    display:flex;
    flex-direction: row;
    color: black;
    box-shadow: 0px 0px 5px 5px #666666;
}

.pank_logo {
    margin-right:auto;
    font-size:32px;
    margin-top:auto;
    margin-bottom:auto;
    margin-left:15px;
}